.PageContainer.mobile {
  --body-fontsize: calc(10px + 2vmin);

  --torzo-blue: rgba(48, 103, 133, 1);
}

.PageContainer {
  --body-fontsize: calc(10px + 2vmin);
  --right-side-bar-width: calc(var(--body-fontsize) * 2.5);
}
