
.MobilePages {
  padding: calc(var(--body-fontsize) * 2);
  padding-right: 0;

  font-size: var(--body-fontsize);

  /* 必写 */
  position: relative;
}

.PageTitle::first-letter {
  /* font-size: 2.25em; */
  /* color: grey; */
  font-weight: bold;
  float: left;
  margin: 0 .2em 0 0;
  line-height: 1em;

  background-color: rgba(48, 103, 133, .9);
  color: white;
  padding: .5vmin;
  border-radius: .5vmin;
  text-shadow: 1px 0px 0px hsl(201 27% 35% / .9);
  margin-bottom: .5vmin;
}
.PageTitle {
  color: rgba(48, 103, 133, 1);
  /* font-size: 2.25em; */
  margin: 0;
}

.SideBarRight {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;

  width: var(--right-side-bar-width);

  box-sizing: border-box;
  padding: 20vh 0;
  background-color: #CCC;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

}
.bottom-handler {
  width: 100%;
  line-height: var(--right-side-bar-width);
  background-color: grey;
  padding: 10px 0;
}
