html, body {
  margin: 0;
  padding: 0;
}

html {
  writing-mode: vertical-rl;
}

.App {
  overflow-x: auto;
  overflow-y: hidden;

  height: 100vh;
  min-width: 100vw;

  box-sizing: border-box;
  padding: calc((10px + 2vmax) * 1.5) calc((10px + 2vmax) * 1.5);
  color: rgba(48, 103, 133, 1);
  font-size: calc(10px + 2vmin);
}
