p {
  color: hsl(201 7% 35% / .9);
  line-height: 1.618em;
  letter-spacing: 0.1em;
  text-align: justify;

  font-weight: 400;
}

p.fist-letter::first-letter {
  font-size: 2.25em;
  /* color: grey; */
  font-weight: bold;
  float: left;
  margin: 0 .2em 0 0;
  line-height: 1em;
}

ul {
  padding: 0em 0;
  list-style-type: none;
  color: hsl(201 7% 35% / .9);
  line-height: 1.618em;
  letter-spacing: 0.1em;
  text-align: justify;
}
ul li {
  line-height: 1.618em;
  border-left: solid 1px hsl(201 7% 35% / .2);
  padding: calc(10px + 2vmin) .5em;
}
ul li:last-child {
  border-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(48, 103, 133, 1);
}

h1 .bg {
  background-color: rgba(48, 103, 133, .9);
  color: white;
  padding: .5vmin;
  border-radius: .5vmin;
  text-shadow: 1px 0px 0px hsl(201 27% 35% / .9);
  margin-bottom: .5vmin;
}

.last {
  text-align: right;
  font-weight: bold;
  color: rgba(48, 103, 133, .382);
  margin-right: calc((10px + 2vmin) * 4);
}

img {
  text-align: center;
  /* display: block; */
  height: 61.8vh;
  /* margin: auto 0; */
  background-color: grey;
}

figure {
  margin: auto 0;
  writing-mode: horizontal-tb;
}

figure > figcaption {
  text-align: center;
  color: #BBB;
  writing-mode: horizontal-tb;
  font-size: calc(10px + 1vmin);
}

ruby {}
rb {

}
rt {
  opacity: 0.5;
  font-weight: 500;
  
}

.jp p {
  font-family: YuGo-Medium;
  /* font-family: TsukuARdGothic-Regular; */
  /* font-family: ToppanBunkyuGothicPr6N-Regular; */
  
  /* font-family: ToppanBunkyuMinchoPr6N-Regular; */
}
.jp h1 {
  font-family: ToppanBunkyuMidashiMinchoStdN-ExtraBold;
}
.jp rt {
  font-family: ToppanBunkyuMinchoPr6N-Regular;
}
